.webform-ajax {
	color            : #333333;
	font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size        : 16px;
	line-height      : 1.5;
	position         : relative;
	width            : 600px;
	border           : 1px solid #EEEEEE;
	box-shadow       : 2px 3px 5px #F2F2F2;
	margin           : 10px 0 0 10px;
	padding          : 30px;
	background-color : #FDFDFD;
}

.webform-ajax__webform {
	outline    : 1px solid #EEEEEE;
	box-shadow : 0 0 5px 3px #EEEEEE;
	padding    : 15px;
}

.webform-ajax__form-name {
	text-align  : center;
	margin      : 10px;
	font-size   : 1.5em;
	color       : #207FAE;
	font-weight : bold;
}

.webform-ajax__form-element {
	margin-top  : 20px;
	padding-top : 20px;
	border-top  : 1px dashed #C4C4C4;
}

.webform-ajax__form-element input[type="file"] {
	border     : none;
	box-shadow : none;
}

.webform-ajax__form-element input[type="radio"] {
	border     : none;
	box-shadow : none;
	width      : 20px;
}

.webform-ajax__form-element input[type="checkbox"] {
	border     : none;
	box-shadow : none;
	width      : 20px;
}

.webform-ajax__group-elements {
	float : left;
	width : 250px;
}

.webform-ajax__form-label-element {
	width   : 570px;
	display : inline-block;
}

.webform-ajax__form-sub-label-element {
	width         : 100px;
	display       : inline-block;
	overfloW      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;
	float         : left;
}

.webform-ajax__form-label-element .calendar-icon {
	height : 34px;
	width  : auto;
}

.webform-ajax__form-title-element {
	width   : 200px;
	display : block;
	float   : left;
}

.webform-ajax__form-image-element {
	border-radius : 10px;
	height        : auto;
	display       : block;
	max-width     : 185px;
	clear         : left;
	margin-top    : 5px;
}

.webform-ajax__form-input-element {
	width         : 250px;
	padding       : 9px 10px;
	border-radius : 5px;
	border        : 1px solid #D5D5D5;
	outline       : none;
	box-shadow    : inset 2px 1px 5px 0 #EEEEEE;
	color         : #414141;
}

.webform-ajax__form-textarea-element {
	width         : 250px;
	height        : 90px;
	padding       : 5px 10px;
	border-radius : 5px;
	border        : 1px solid #D5D5D5;
	outline       : none;
	box-shadow    : inset 2px 1px 5px 0 #EEEEEE;
	color         : #414141;
}

.webform-ajax__form-select-element {
	width         : 250px;
	padding       : 5px 10px;
	border-radius : 5px;
	border        : 1px solid #D5D5D5;
	outline       : none;
	box-shadow    : inset 2px 1px 5px 0 #EEEEEE;
	color         : #414141;
}

.webform-ajax__form-option-element {
}

.webform-ajax__form-control-elements {
	margin-top : 20px;
}

.webform-ajax__captcha {
	text-align : center;
}

.webform-ajax__captcha-error-text {
	width : 150px !important;
}

.webform-ajax__captcha-image {
	cursor  : pointer;
	display : block;
	margin  : 5px auto 10px auto;
}

.webform-ajax__captcha-key-element {
	width  : 160px;
	height : 35px;
}

.webform-ajax__form-submit-button-element {
	width       : 100%;
	padding     : 10px;
	outline     : none;
	font-size   : 1em;
	line-height : 1;
	margin-top  : 15px;
	cursor      : pointer;
}

.webform-ajax__button-submit-title {

}

.webform-ajax__button-submit-image {
	vertical-align : -webkit-baseline-middle;
}

.webform-ajax__message-success, .webform-ajax__message-info, .webform-ajax__message-danger, .webform-ajax__message-warning {
	color       : #282828;
	padding     : 25px;
	text-align  : center;
	text-shadow : 1px 1px 1px white;
}

.webform-ajax__message-success {
	background-color : #DFF0D8;
}

.webform-ajax__message-info {
	background-color : #D9EDF7;
}

.webform-ajax__message-danger {
	color            : red;
	background-color : #F2DEDE;
}

.webform-ajax__message-warning {
	background-color : #FCF8E3;
}

.webform-ajax__text-error, .webform-ajax__captcha-error-text {
	background-color : #F2DEDE;
	color            : red;
	font-size        : 0.9em;
	padding          : 10px;
	text-shadow      : 1px 1px 1px white;
	margin           : 7px 0 0 200px;
	width            : 250px;
	border-radius    : 15px;
	text-align       : center;
}

.webform-ajax__element-error {
	border : 1px solid red;
}

.webform-ajax__message-block {
	position         : absolute;
	top              : 0;
	left             : 0;
	width            : 100%;
	height           : 100%;
	background-color : rgba(0, 0, 0, 0.7);
}

.webform-ajax__message-block-text-success {
	position         : absolute;
	left             : 50%;
	top              : 50%;
	font-size        : 1.0em;
	background-color : white;
	width            : 320px;
	margin-left      : -160px;
	margin-top       : -37px;
	padding          : 25px;
	border-radius    : 5px;
	text-align       : center;
	color            : green;
	box-shadow       : 0 0 45px 10px #737373;
}

.webform-ajax__message-block-text-error {
	position         : absolute;
	left             : 50%;
	top              : 50%;
	font-size        : 1.0em;
	background-color : white;
	width            : 320px;
	margin-left      : -160px;
	margin-top       : -37px;
	padding          : 25px;
	border-radius    : 5px;
	text-align       : center;
	color            : red;
	box-shadow       : 0 0 45px 10px #737373;
}

.webform-ajax__close-button-message-block {
	position         : absolute;
	right            : -15px;
	top              : 0;
	font-size        : 1.1em;
	background-color : #FFFFFF;
	width            : 35px;
	height           : 35px;
	margin-left      : -17px;
	margin-top       : -17px;
	border-radius    : 50%;
	color            : #828181;
	box-shadow       : inset 0 0 5px -2px #000000;
	line-height      : 2;
	cursor           : pointer;
}

.webform-ajax__hidden {
	display : none;
}
